<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>4orum-board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/board.css" >
</head>
<body>
<header th:replace="fragments/common :: header">-- thymeleaf header will be inserted here. --</header>
<section>
    <div id="board_header">
        <h3>
            <a href="/notice">
                <p th:text="${data}" ></p>
            </a>
        </h3>
    </div>
    <div id="bd_list">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>조회</th>
                </tr>
            </thead>

            <!--/* 게시글 리스트 */-->
            <tbody id="list">

            </tbody>

        </table>
        <a href="/board/addPost">Post</a>
    </div>
</section>
<footer th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</footer>
</body>
</html>